{% extends "employee_base.html" %}
{%block body_block%}


<div class="addresort">
    <h5 class="pb-4 border-bottom border-grey">Sales > Meal Plans</h5>
    <h5 class="text-uppercase pt-4 pb-4">edit meal details</h5>

    <form method="post" action="">
        {% csrf_token %}
        <div class="resort-input">
            <div class="d-flex flex-direction-row gap-4">
                <label style="width:150px" class="pt-3">Item Name :</label>
                <input type="text" name="meals" value="{{meal.meals}}" class="form-control py-3" required>
            </div>
           
            <div class="d-flex justify-content-center mt-4 add-button">
                <button type="submit" class="btn btn-primary px-5 py-2">Submit</button>
            </div>
        </div>
        
    </form>
</div>
{% endblock %}