{% extends "base.html" %}
{%load static%}
{%block body_block%}

<div class="view_invoice">
    <div class="d-flex flex-direction-row justify-content-between">
        <h5 class="text-capitalize">Sales > Stay > voucher > #{{ voucher.voucher_number }}</h5>
        <div class="invoice-buttons">
            <a href="{% url 'salevoucheredit' voucher.id %}"><button>
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="icon icon-tabler icons-tabler-outline icon-tabler-edit" style="margin-right: 0.2rem;">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M7 7h-1a2 2 0 0 0 -2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2 -2v-1" />
                        <path d="M20.385 6.585a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3l8.385 -8.415z" />
                        <path d="M16 5l3 3" />
                    </svg>
                    Edit
                </button></a>
            <button id="print-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-printer" style="margin-right: 0.2rem;">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M17 17h2a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-14a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h2" />
                    <path d="M17 9v-4a2 2 0 0 0 -2 -2h-6a2 2 0 0 0 -2 2v4" />
                    <path d="M7 13m0 2a2 2 0 0 1 2 -2h6a2 2 0 0 1 2 2v4a2 2 0 0 1 -2 2h-6a2 2 0 0 1 -2 -2z" />
                </svg>
                Print
            </button>
            <button id="downloadButton">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-download" style="margin-right: 0.2rem;">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" />
                    <path d="M7 11l5 5l5 -5" />
                    <path d="M12 4l0 12" />
                </svg>
                Download
            </button>
            <button data-bs-toggle="modal" data-bs-target="#staticBackdropR">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-credit-card-pay"
                    style="margin-right: 0.2rem;">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 19h-6a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v4.5" />
                    <path d="M3 10h18" />
                    <path d="M16 19h6" />
                    <path d="M19 16l3 3l-3 3" />
                    <path d="M7.005 15h.005" />
                    <path d="M11 15h2" />
                </svg>
                Record Payment</button>
            <button data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ voucher.id }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-trash" style="margin-right: 0.2rem;">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 7l16 0" />
                    <path d="M10 11l0 6" />
                    <path d="M14 11l0 6" />
                    <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                    <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
                </svg>
                Delete</button>
                
        </div>
        <div class="modal fade" id="staticBackdropR" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" style="min-width: 700px;">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Record Payment</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body ">
                  <form method="post" action="{% url 'voucher_record_payment' voucher.id %}">
                    {% csrf_token %}
                            <div class="row py-4 align-content-center ">
                                <div class="col-6 mb-4">
                                    <label for="" class="d-inline me-3 fw-bold">Client Name</label>
                                    <input type="text" class="form-control w-50 d-inline" value="{{voucher.customer.customer_display_name}}" name="client_name">
                                </div>
                                <div class="col-6 mb-4">
                                    <label for="" class="d-inline me-3 fw-bold">Invoice number</label>
                                    <input type="text" class="form-control w-50 text-center d-inline" value="{{voucher.voucher_number}}" name="voucher_number">
                                </div>
                                <div class="col-12 mb-4">
                                    <label for="" class="d-inline me-3 fw-bold">Advance Amount (INR)</label>
                                    <input type="text" class="form-control w-50  d-inline" value="{{voucher.pending_price}}" name="amount_received">
                                </div>
                                <div class="col-6 mb-4">
                                    <label for="" class="d-inline me-3 fw-bold">Payment Date</label>
                                    <input type="date" name ="payment_date" class="form-control w-50 d-inline">
                                </div>
                                <div class="col-6 mb-4">
                                    <label for="" class="d-inline me-3 fw-bold">Payment Mode</label>
                                    <select name="payment_mode" id="" class="form-select w-50  d-inline">
                                            <option value="UPI" >UPI</option>
                                            <option value="Cash" >Cash</option>
                                    </select>
                                </div>
                                <div class="d-flex justify-content-center py-4">
                                    <button class="rounded theme-btn text-light py-2 px-4" type="submit">Add payment</button>
                                </div>
                            </div>
                        </form>
                </div>
               
              </div>
            </div>
          </div>
        <div class="modal fade" id="staticBackdrop{{ voucher.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header border-0 pb-1">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="text-center fw-medium mb-0">
                    Are you sure you want to delete this Voucher !
                  </p>
                </div>
                <div class="modal-footer border-0 py-2 justify-content-center">
                  <form method="post" action="{% url 'salevoucherdelete' voucher.id %}">
                    {% csrf_token %}
                  <button type="button" class="btn btn-secondary fs-7" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-danger fs-7">Yes</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div style="max-width: 900px;margin-inline: auto;margin-top: 2rem;">
        <div class="" id="invoice-details" style="margin: auto; font-family: 'Poppins', sans-serif;">
            <div class="invoice-content"
                style="height: auto; background-color: white; box-shadow: 0px -1px 3px 1px rgb(204, 200, 200);">
                <div class="view-details" style="background-color: #324969; padding: 1rem;">
                    <div class="mt-3 px-5 py-2" style="color: white;">
                        <div>
                            <table style="width: 100%;">
                                <tr>
                                    <td style="padding-left: 2rem;">
                                        <img src="{%static 'assets/invchr.png'%}?{% now "U" %}" style="width: 20%;" />
                                        <p style="margin: 5px 0;">7909 151 146</p>
                                        <p style="margin: 5px 0;">www.navigotrips.com</p>
                                        <p style="margin: 5px 0;">Navig trips LLP
                                            [LLPIN ABB - 4601]
                                            Vatakara 
                                            Kozhikode 
                                            Kerala</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td
                                        style="font-size: 1.5rem; font-weight: 600; text-align: right;padding-right: 3rem;white-space: nowrap;">
                                        <span id="num-value">{{ voucher.voucher_number }}</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="" style="width: 100%;">
                    <div style="width: 100%;">
                        <table style="width: 100%;">
                            <table style="width: 100%;">
                                <tr>
                                    <td style="font-size: 0.8rem;width: 70%;padding-left: 5rem;padding-top: 2rem;"
                                        colspan="3">
                                        <p style="font-size: 1rem;margin: 0;">Bill To:</p>
                                        <h5 style="font-size: 1.5rem; margin: 0;">{{ voucher.customer.full_name }}</h5>
                                        <p style="margin:5px;">{{ voucher.customer_name.phone }}</p>
                                        <p style="margin:5px;">{{ voucher.customer_name.email }}</p>
                                        <p style="margin:5px;">{{ voucher.customer_name.address }}</p>
                                    </td>
                                    <td
                                        style="width:10px;padding: 0;white-space: nowrap;text-align: right;margin: 0;width: 0%;padding-right: 5rem;padding-top: 2rem;">
                                        <p style="margin:5px;"> {{ voucher.voucher_number }}</p>
                                        <p style="margin:5px;"> Voucher Date: {{ voucher.voucher_date }}</p>
                                        <p
                                            style="background-color: rgb(240, 146, 5);padding: 10px 5px;text-align: center;">
                                            Total Amount <strong> ₹ {{ voucher.total_amount }}</strong></p>
                                    </td>
                                </tr>
                            </table>
                    </div>
                    <div>
                        <table
                            style="width: 80%;border-collapse: collapse;  border: 1px solid black;margin-left: 5rem;text-align: center;text-transform: uppercase;margin-top: 15px;">
                            <tbody>
                                <tr>
                                    <td
                                        style="padding: 0.5rem 2rem;border-bottom: 1px solid black;border-right: 1px solid black;">
                                        hotel name</td>
                                    <td style="padding: 0.5rem 2rem;border-bottom: 1px solid black;">{{ voucher.resort_name.resort_name }}</td>
                                </tr>
                                <tr>
                                    <td
                                        style="padding: 0.5rem 2rem;border-bottom: 1px solid black;border-right: 1px solid black;">
                                        check in</td>
                                    <td style="padding: 0.5rem 2rem;border-bottom: 1px solid black;">{{ voucher.checkin_date }}</td>
                                </tr>
                                <tr>
                                    <td
                                        style="padding: 0.5rem 2rem;border-bottom: 1px solid black;border-right: 1px solid black;">
                                        check out</td>
                                    <td style="padding: 0.5rem 2rem;border-bottom: 1px solid black;">{{ voucher.checkout_date }}</td>
                                </tr>
                                <tr>
                                    <td
                                        style="padding: 0.5rem 2rem;border-bottom: 1px solid black;border-right: 1px solid black;">
                                        no.of pax</td>
                                    <td style="padding: 0.5rem 2rem;border-bottom: 1px solid black;">{{ voucher.adults }} adults and {{ voucher.children }}
                                        children
                                    </td>
                                </tr>
                                <tr>
                                    <td
                                        style="padding: 0.5rem 2rem;border-bottom: 1px solid black;border-right: 1px solid black;">
                                        room type</td>
                                    <td style="padding: 0.5rem 2rem;border-bottom: 1px solid black;">{{ voucher.room_type }}</td>
                                </tr>
                                <!-- <tr>
                                    <td
                                        style="padding: 0.5rem 2rem;border-bottom: 1px solid black;border-right: 1px solid black;">
                                        account name</td>
                                    <td style="padding: 0.5rem 2rem;border-bottom: 1px solid black;">{{ voucher.account_name }}</td>
                                </tr>
                                <tr>
                                    <td
                                        style="padding: 0.5rem 2rem;border-bottom: 1px solid black;border-right: 1px solid black;">
                                        ifsc code</td>
                                    <td style="padding: 0.5rem 2rem;border-bottom: 1px solid black;">{{ voucher.account_name.ifsc_code }}</td>
                                </tr> -->
                                <tr>
                                    <td
                                        style="padding: 0.5rem 2rem;border-bottom: 1px solid black;border-right: 1px solid black;">
                                        no of rooms</td>
                                    <td style="padding: 0.5rem 2rem;border-bottom: 1px solid black;">{{ voucher.number_of_rooms }}</td>
                                </tr>
                                <tr>
                                    <td
                                        style="padding: 0.5rem 2rem;border-bottom: 1px solid black;border-right: 1px solid black;">
                                        no of nights</td>
                                    <td style="padding: 0.5rem 2rem;border-bottom: 1px solid black;">{{ voucher.number_of_nights }}</td>
                                </tr>
                                <tr>
                                    <td
                                        style="padding: 0.5rem 2rem;border-bottom: 1px solid black;border-right: 1px solid black;">
                                        meal plan</td>
                                    <td style="padding: 0.5rem 2rem;border-bottom: 1px solid black;">{{ voucher.meal_plan.meals }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <p></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: right;padding-right: 5rem;">
                                        <div>
                                            <p style="opacity: 0;">Sub Total :<span style="padding-left: 0.5rem;"> {{ voucher.total_amount }}</span></p>
                                            <p style="opacity: 0;">Tax : <span style="padding-left: 0.5rem">{{ voucher.tax }}</span></p>
                                            <p style="font-size: 1rem;"><strong>Grand Total : <span style="padding-left: 0.5rem;"> ₹{{ voucher.total_amount }}</span></strong></p>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="text-align: right;padding-right: 5rem;padding-top: 5rem;">
                                        <div>
                                            <p>{{ voucher.sales_person.username }}</p>
                                            <p class="fw-semibold">Accountant Manager</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div style="margin-top: -15rem;padding-left: 5rem;">
                            <p><strong>Payment Methods</strong></p>
                            <p>Bank Name : {{ voucher.account_name.account_name }}</p>
                            <p>Bank Account : {{ voucher.account_name.account_number }} </p>
                            <p>IFSC Code :  {{ voucher.account_name.ifsc_code }}</p>
                            <p style="margin-top: 10px;padding-bottom: 8rem;" class="fw-bold">Thank you for your
                                business!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="invoice-content" 
                style="height: auto; background-color: white; box-shadow: 0px -1px 3px 1px rgb(204, 200, 200);">
                <div class="mt-4" style="padding-left:4rem;padding-right: 4rem;">
                    <div>
                        <h4 class="text-uppercase" style="font-size:1.8rem;padding-top:3rem;text-transform:uppercase">Things to note</h4>
                        <ul class="mt-5">
                            <li style="font-size:1rem;padding-bottom: 1rem;">Please remember to bring your ID when you check in.</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;"> Please make sure to pay the remaining amount when you check in</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">Please remember, only the guests listed in your booking confirmation are allowed to stay, and no additional visitors are permitted during your stay.</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">No negotiations are entertained once you checked in</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">Please let the property manager know if you will be checking in late.</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">If you want to check in early or check out late, please check with us first to see if it's possible.</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">Smoking and alcohol consumption are permitted only in designated areas; however, all illegal activities, including gambling and narcotics, are strictly prohibited.</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">Guests will be charged for any property damage they cause.</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">Please treat our staff and trip advisors with kindness and respect. They're here to ensure your stay is comfortable.</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">Please take care of yourself while engaging in adventure activities. The company is not responsible for any incidents during your stay. For any emergencies, contact the property manager.</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">Please take care of your belongings, as we are not liable for any loss or damage. Ensure you have all personal items before checking out.</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">BBQ and campfire events are subject to weather conditions and availability. If they cannot proceed due to weather, costs will be refunded.</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
<script src="{%static 'js/Utils.js'%}"></script>

{% endblock %}