{% extends "base.html" %} {%block body_block%}
<div class="leadlist">

  <div class="d-flex justify-content-center">
    {% for message in messages %}
    <p class="alert alert-primary message custom-message px-3">{{ message }}</p>
    {% endfor %}
  </div>

  <h1>Dashboard > Ticket Management</h1>
  <div class="d-flex justify-content-between gap-2 mb-4">
    <div class="flex-grow-1">
        <div>
          <form action="" method="get" class="d-flex gap-3">
              <div class="position-relative w-100">
                <input type="text" name="q" value="{{query|default:'' }}" class="form-control" placeholder="Search by name or Mobile number">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-search position-absolute top-50 end-0 translate-middle">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                    <path d="M21 21l-6 -6" />
                </svg>
              </div>
              <div class="add-button">
                <button type="submit" class="btn btn-primary">Search</button>
              </div>
          </form>
        </div>
    </div>

    <div class="add-button">
      <a href="{%url 'leadadd'%}">
        <button class="btn btn-primary text-white w-100">+ Add Lead</button>
      </a>
    </div>
</div>
  <h6 class="mt-4 mb-1">Scheduled for today</h6>
  <div class="border border-secondary-subtle rounded-3 mt-4">
    <table class="table custom-table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Date</th>
          <th scope="col">Invoice No</th>
          <th scope="col">Customer</th>
          <th scope="col">Price Quoted</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Attend</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      {% if todays_leads %}
        {% for lead in todays_leads %}
        <tr>
          <td scope="row">{{ forloop.counter }}</td>
          <td>{{ lead.full_name }}</td>
          <td>{{ lead.mobile }}</td>
          <td>{{ lead.email }}</td>
          <td>{{ lead.place }}</td>
          <td>{{ lead.lead_date|date:"d/m/Y" }}</td>
          <td>{{ lead.lead_date|date:"h:i A" }}</td>
          <td><a href="{% url 'leadattend' lead.id %}" class="attend-btn rounded-pill">Attended</a></td>
          <td>
              <div class="d-flex gap-3">
                  <a href="{% url 'lead_details' lead.id %}" class="view-btn rounded-pill px-3">View</a>
              </div>
          </td>
      </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="11" class="text-center p-4">No data found</td>
      </tr>
      {% endif %}
      </tbody>
    </table>
  </div>
  <h6 class="mt-4 mb-1">New Leads</h6>
  <div class="border border-secondary-subtle rounded-3 mt-4">
    <table class="table custom-table">
      <thead>
        <tr>
          <th scope="col">No</th>
          <th scope="col">Customer</th>
          <th scope="col">Mobile</th>
          <th scope="col">Email</th>
          <th scope="col">Place</th>
          <th scope="col">Attend</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
      {% if lead %}
      {% for i in lead %}
        <tr>
          <td scope="row">{{forloop.counter0|add:lead.start_index}}</td>
          <td>{{i.full_name}}</td>
          <td>{{i.mobile}}</td>
          <td>{{i.email}}</td>
          <td>{{i.place}}</td>
          <td><a href="{%url 'leadattend' i.id %}" class="attend-btn rounded-pill">Attended</a></td>
          <td>
            <div class="d-flex gap-3">
              <a href="{%url 'lead_details' i.id %}" class="view-btn rounded-pill px-3">View</a>
            </div>
          </td>
        </tr>
      {% endfor %}
      {% else %}
      <tr>
        <td colspan="11" class="text-center p-4">No data found</td>
      </tr>
      {% endif %}
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-center gap-3 mt-4">
    {% if lead.has_previous %}
    <a href="?page=1" class="pagination-btn">< First</a>
    <a href="?page={{ lead.previous_page_number }}" class="pagination-btn">< Previous</a>
    {% endif %}

    {% if lead.has_next %}
    <a href="?page={{ lead.next_page_number }}" class="pagination-btn">Next ></a>
    <a href="?page={{ lead.paginator.num_pages }}" class="pagination-btn">Last ></a>
    {% endif %}
  </div>
</div>

<script>

  const messages = document.querySelectorAll('.message');


  messages.forEach(message => {
    setTimeout(() => {
      message.remove();
    }, 2000);
  });
</script>

{% endblock %}
