{% extends "employee_base.html" %} {%load static%} {%block body_block%}
<div class="leadattend">

   <div class="d-flex justify-content-center">
    {% for message in messages %}
    <p class="alert alert-primary message custom-message px-3">{{ message }}</p>
    {% endfor %}
  </div>

  <div class="row">
    <div class="col-6 border-end border-2">
      <h1 class="fh-1">Dashboard > Leads Management > Attend</h1>
      <form method="post" action="{% url 'employee_scriptanswer' lead.id %}" class="mt-5">
        {% csrf_token %}
        <div class="script-div">
          {% for script in script %}
          <div>
            <h3 class="fs-7 ">SCRIPT 1</h3>
            <label for="" class="mb-2 fw-semibold fs-6"
              >{{script.script1}}</label
            >
            {% if lead.answer1 %}
            <p>{{lead.answer1}}</p>
            {% else %}
            <input
              type="text"
              name="answer1"
              class="form-control py-2"
              placeholder="Response enter here....."
            />
            {% endif %}
          </div>
          <div>
            <h3 class="fs-7 ">SCRIPT 2</h3>
            <label for="" class="mb-2 fw-semibold fs-6"
              >{{script.script2}}</label
            >
            {% if lead.answer2 %}
            <p>{{lead.answer2}}</p>
            {% else %}
            <input
              type="text"
              name="answer2"
              class="form-control py-2"
              placeholder="Response enter here....."
            />
            {% endif %}
          </div>
          <div>
            <h3 class="fs-7 ">SCRIPT 3</h3>
            <label for="" class="mb-2 fw-semibold fs-6"
              >{{script.script3}}</label
            >
            {% if lead.answer3 %}
            <p>{{lead.answer3}}</p>
            {% else %}
            <input
              type="text"
              name="answer3"
              class="form-control py-2"
              placeholder="Response enter here....."
            />
            {% endif %}
          </div>
          <div>
            <h3 class="fs-7">SCRIPT 4</h3>
            <label for="" class="mb-2 fw-semibold fs-6"
              >{{script.script4}}</label
            >
            {% if lead.answer4 %}
            <p>{{lead.answer4}}</p>
            {% else %}
            <input
              type="text"
              name="answer4"
              class="form-control py-2"
              placeholder="Response enter here....."
            />
            {% endif %}
          </div>
          <div>
            <h3 class="fs-7">SCRIPT 5</h3>
            <label for="" class="mb-2 fw-semibold fs-6"
              >{{script.script5}}</label
            >
            {% if lead.answer5 %}
            <p>{{lead.answer5}}</p>
            {% else %}
            <input
              type="text"
              name="answer5"
              class="form-control py-2"
              placeholder="Response enter here....."
            />
            {% endif %}
          </div>
          <div>
            <h3 class="fs-7 ">SCRIPT 6</h3>
            <label for="" class="mb-2 fw-semibold fs-6"
              >{{script.script6}}</label
            >
            {% if lead.answer6 %}
            <p>{{lead.answer6}}</p>
            {% else %}
            <input
              type="text"
              name="answer6"
              class="form-control py-2"
              placeholder="Response enter here....."
            />
            {% endif %}
          </div>
          {% endfor %}

          <div class="d-flex align-content-center gap-4 flex-nowrap">
            <p class="mb-0">Add Tag :</p>
            {% for tag in tag %}
            <div class="form-check">
              <input type="radio" required class="form-check-input" name="tag" id="" value="{{ tag.id }}"
                      {% if lead.tag_id == tag.id %}checked{% endif %}
              />
              <label class="form-check-label" for="">{{tag.name}}</label>
            </div>
            {% endfor %}
          </div>

           {% if not lead.answer1 or not lead.answer2 or not lead.answer3 or not lead.answer4 or not lead.answer5 or not lead.answer6 %}
          <div class="d-flex justify-content-center">
            <button type="submit" class="rounded theme-btn py-2 px-5">Submit</button>
          </div>
          {% endif %}
        </div>
      </form>
    </div>
    <div class="col-6">
      <div class="calendar-container px-3 pt-5">



        <h3 class="py-3 fh-1">Reschedule your date and time</h3>
        <div class="ldat-calender">
          <div class="h-100" id="dashboard-calender">
            <div class="calendar h-100">
              <div class="header">
                <button id="prevMonth">&lt;</button>
                <span id="currentMonth" class="fw-semibold"></span>
                <button id="nextMonth">&gt;</button>
              </div>
              <div class="daysname"></div>
              <div class="days"></div>
            </div>
            <div id="todaysBooking">
              <div class="border-bottom px-3 py-2 d-flex ">
                <div id="BookingDate" class="text-dark me-3 text-center fs-7 fw-semibold">
                  <p class="mb-0 date"></p>
                  <p class="mb-0 tday"></p>
                </div>
                <div>
                  <p class="mb-0" id="today"></p>
                </div>
                <svg id="BookingClose" style="cursor: pointer;"  xmlns="http://www.w3.org/2000/svg"  width="20"  height="20"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-x rounded-circle border ms-auto align-self-center"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>
              </div>
              <div class="px-2 py-3">
                  <form method="post" action="{% url 'employee_update_lead_date' lead.id %}">
                    {%csrf_token%}
                      <div class="d-flex gap-3">
                        <input type="hidden" id="currentDate" name="currentDate" value="">
                        <select name="hour" id="" class="form-select">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                          <option value="6">6</option>
                          <option value="7">7</option>
                          <option value="8">8</option>
                          <option value="9">9</option>
                          <option value="10">10</option>
                          <option value="11">11</option>
                          <option value="12">12</option>
                        </select>
                        <select name="minute" id="sMinutes" class="form-select">
                        </select>
                        <select name="when" id="" class="form-select">
                          <option value="AM">AM</option>
                          <option value="PM">PM</option>

                        </select>

                      </div>
                      <div class="d-flex justify-content-center mt-3"><button type="submit" class="theme-btn rounded px-3 py-2">Schedule</button></div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="choose-service">
    <h3 class="py-3 fh-1">Choose Your Services</h3>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item me-4" role="presentation">
        <button
          class="nav-link active"
          id="pills-trip-tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-trip"
          type="button"
          role="tab"
          aria-controls="pills-home"
          aria-selected="true"
        >
          Trip
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button
          class="nav-link"
          id="pills--tab"
          data-bs-toggle="pill"
          data-bs-target="#pills-stay"
          type="button"
          role="tab"
          aria-controls="pills-profile"
          aria-selected="false"
        >
          Stay
        </button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div
        class="tab-pane fade show active"
        id="pills-trip"
        role="tabpanel"
        aria-labelledby="pills-home-tab"
        tabindex="0"
      >
        <div class="rounded-4 border px-4 py-5 mt-4">
          <form action="" method="get">
            <div
              class="d-flex align-content-center justify-content-between gap-3"
            >
              <div>
                <label for="">Places included</label>
                <div class="position-relative mt-2">
                  <input type="text" name="q" placeholder="Enter place..." value="{{search_query|default_if_none:'' }}" id="" class="form-control" />
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-search position-absolute top-50 end-0 translate-middle"
                  >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                    <path d="M21 21l-6 -6" />
                  </svg>
                </div>
              </div>
              <div>
                <label for="">Price</label>

                <div class="input-group mt-2">
                  <span class="fs-8 align-self-center me-2">from :</span>
                  <span
                    class="input-group-text rounded-start-2"
                    id="basic-addon1"
                    >₹</span
                  >
                  <input type="text" name="from_price" class="form-control" placeholder="price" />
                </div>
              </div>
              <div class="align-self-end">
                <div class="input-group mt-2">
                  <span class="fs-8 align-self-center me-2">to :</span>
                  <span
                    class="input-group-text rounded-start-2"
                    id="basic-addon1"
                    >₹</span
                  >
                  <input type="text" name="to_price" class="form-control" placeholder="price" />
                </div>
              </div>

              <div>
                <label for="" style="white-space: nowrap">Number of days</label>

                <div class="d-flex mt-2">
                  <button
                    class="btn border rounded px-3"
                    id="increment"
                    type="button"
                  >
                    +
                  </button>
                  <input
                    type="text"
                    name="days"
                    id="quantity"
                    readonly
                    value="0"
                    style="width: 2rem; background-color: transparent"
                    class="border-0 text-center"
                  />
                  <button
                    class="btn border rounded px-3"
                    type="button"
                    id="decrement"
                  >
                    -
                  </button>
                </div>
              </div>

              <button
                class="theme-btn px-5 rounded py-2 align-self-end"
                style="height: fit-content"
                type="submit"
              >
                search
              </button>
            </div>
          </form>
        </div>

        <div class="border border-secondary-subtle rounded-3 mt-4">
          <table class="table custom-table">
            <thead>
              <tr>
                <th scope="col" class="text-center">No</th>
                <th scope="col">Place</th>
                <th scope="col">Price</th>
                <th scope="col">No of Days</th>
                <th scope="col">Download</th>
                <th scope="col">Share</th>
              </tr>
            </thead>
            <tbody>
            {% if trip %}
            {% for trip in trip %}
              <tr>
                <td scope="row" class="text-center">1</td>
                <td>{{trip.place_name}}</td>
                <td>{{trip.price}}/-</td>
                <td>{{trip.no_of_days}}</td>
                <td><a href="#" class="download-btn rounded-pill">Download</a></td>
                <td>
                  <div class="d-flex gap-3">
                    <a href="" class="whtsapp-btn rounded-pill px-4">
                      <svg  xmlns="http://www.w3.org/2000/svg"  width="18"  height="18"  viewBox="0 0 24 24"  fill="none"  stroke="#31BD2B"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
                    </a>
                    <a href="" class="download-btn rounded-pill px-4"  
                      ><svg  xmlns="http://www.w3.org/2000/svg"  width="18"  height="18"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-mail"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg></a>
                  </div>
                </td>
              </tr>
            {% endfor %}
            {% else %}
            <p class="p-4">No data found</p>
            {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      <div
        class="tab-pane fade"
        id="pills-stay"
        role="tabpanel"
        aria-labelledby="pills-profile-tab"
        tabindex="0"
      >
      <div class="rounded-4 border px-4 py-5 mt-4">
        <form method="get" action="">
          <div
            class="d-flex align-content-center justify-content-between gap-3"
          >
            <div class="col-3">
              <label for="">Location</label>
              <div class="position-relative mt-2">
                <input type="text" name="stay_q" value="{{stay_search_query|default_if_none:'' }}" placeholder="Enter place...." id="" class="form-control" />
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-search position-absolute top-50 end-0 translate-middle"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                  <path d="M21 21l-6 -6" />
                </svg>
              </div>
            </div>
            <div>
              <label for="">Price</label>

              <div class="input-group mt-2">
                <span class="fs-8 align-self-center me-2">from :</span>
                <span
                  class="input-group-text rounded-start-2"
                  id="basic-addon1"
                  >₹</span
                >
                <input type="text" name="stay_from_price" class="form-control" placeholder="price" />
              </div>
            </div>
            <div class="align-self-end">
              <div class="input-group mt-2">
                <span class="fs-8 align-self-center me-2">to :</span>
                <span
                  class="input-group-text rounded-start-2"
                  id="basic-addon1"
                  >₹</span
                >
                <input type="text" name="stay_to_price" class="form-control" placeholder="price" />
              </div>
            </div>

            <div>
              <label for="" style="white-space: nowrap">Number of person Accommodate</label>

              <div class="d-flex mt-2">
                <button
                  class="btn border rounded px-3"
                  id="increment2"
                  type="button"
                >
                  +
                </button>
                <input
                  type="text"
                  name="persons"
                  id="quantity2"
                  readonly
                  value="0"
                  style="width: 2rem; background-color: transparent"
                  class="border-0 text-center"
                />
                <button
                  class="btn border rounded px-3"
                  type="button"
                  id="decrement2"
                >
                  -
                </button>
              </div>
            </div>
          </div>
          <div class="d-flex gap-3 mt-3">
            <div class="col-3">
              <label for="">Resort Type</label>
              <select name="stay_type" id="" class="form-select mt-2">
                <option value="" selected disabled>Resort type</option>
                <option value="Pool Villa">Pool Villa</option>
                <option value="Resort">Resort</option>
                <option value="Homestay">Homestay</option>
                <option value="Tent">Tent</option>
              </select>
            </div>
            
            <button
              class="theme-btn col-2 rounded py-2 text-center align-self-end"
              style="height: fit-content"
              type="submit"
            >
              search
            </button>
          </div>
        </form>
      </div>

      <div class="border border-secondary-subtle rounded-3 mt-4">
        <table class="table custom-table">
          <thead>
            <tr>
              <th scope="col" class="text-center">No</th>
              <th scope="col">Location</th>
              <th scope="col">No of days</th>
              <th scope="col">Price</th>
              <th scope="col">No of Person</th>
              <th scope="col">Download</th>
              <th scope="col">Share</th>
            </tr>
          </thead>
          <tbody>
          {% if stay %}
          {% for stay in stay %}
            <tr>
              <td scope="row" class="text-center">{{forloop.counter}}</td>
              <td>{{stay.location}}</td>
              <td>{{stay.no_of_days}}</td>
              <td>{{stay.price1}}/-</td>
              <td>{{stay.no_of_persons}}</td>
              <td><a href="#" class="download-btn rounded-pill">Download</a></td>
              <td>
                <div class="d-flex gap-3">
                  <a href="" class="whtsapp-btn rounded-pill px-4">
                    <svg  xmlns="http://www.w3.org/2000/svg"  width="18"  height="18"  viewBox="0 0 24 24"  fill="none"  stroke="#31BD2B"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
                  </a>
                  <a href="" class="download-btn rounded-pill px-4"  
                    ><svg  xmlns="http://www.w3.org/2000/svg"  width="18"  height="18"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-mail"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg></a>
                </div>
              </td>
            </tr>
          {% endfor %}
          {% else %}
          <p class="p-4">No data found</p>
          {% endif %}
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/dayjs@1.11.11/dayjs.min.js"></script>

<script src="{%static 'js/LeadAttend.js'%}"></script>
{% endblock %}

















