{% extends "base.html" %}
{%load static%}
{%block body_block%}
{%load static%}
    <div class="employeelist">

       <div class="d-flex justify-content-center">
            {% for message in messages %}
            <p class="alert alert-primary message custom-message px-3">{{ message }}</p>
            {% endfor %}
        </div>

    <div class="d-flex justify-content-between">
       <h1 class="fh-1">Technicians Management</h1>

    </div>

       <div class="border border-secondary-subtle rounded-3 mt-4">
        <table class="table custom-table">
          <thead>
            <tr>
              <th scope="col" class="text-center">Profile</th>
              <th scope="col" class="text-center">Name</th>
              <th scope="col" class="text-center">Contact</th>
              <th scope="col">Date of Joining</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
          {% if tech_list %}
          {% for users in tech_list %}
            <tr>
              <td scope="row" class="ps-4">
                <img src="{%static 'assets/user.png'%}" class="table-profile-img" alt="">
              </td>
              <td class="text-center" style="width: 200px;">{{users.first_name}}</td>
              <td class="fs-7 text-center" style="width: 300px;">
                <p class="mb-0">{{users.last_name}}</p>
                <p>{{users.email}}</p>
              </td>
              <td>{{users.mobile}}</td>



            </tr>
          {% endfor %}
          {% else %}
          <tr>
              <td colspan="11" class="text-center p-4">No data found</td>
          </tr>
          {% endif %}
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-center gap-3 mt-4">
        {% if user.has_previous %}
        <a href="?page=1" class="pagination-btn">< First</a>
        <a href="?page={{user.previous_page_number }}" class="pagination-btn">< Previous</a>
        {% endif %}

        {% if user.has_next %}
        <a href="?page={{ user.next_page_number }}" class="pagination-btn">Next ></a>
        <a href="?page={{user.paginator.num_pages }}" class="pagination-btn">Last ></a>
        {% endif %}
      </div>
    </div>

<script>

  const messages = document.querySelectorAll('.message');


  messages.forEach(message => {
    setTimeout(() => {
      message.remove();
    }, 2000);
  });
</script>

{% endblock %}