{% extends "employee_base.html" %}
{%load static%}
{%block body_block%}
<style>
    label{
        width: 165px;
        text-wrap: nowrap;
    }
</style>
<div class="itinerary_add">
    <h5 class="pb-4 border-bottom border-grey">Sales > Itinerary</h5>
    <h5 class="text-uppercase pt-4 pb-4">add itinerary details</h5>
    <div style="padding-right: 10rem;">
    <form method="post" action="">
        {% csrf_token %}
      
            <div class="d-flex  pt-4">
                <div class="mb-4 align-self-center">
                    <label for="" class="lable-ei" style="width: 162px;">Customer name</label>
                </div>
                <div class=" mb-4 position-relative flex-grow-1">
                    <div class="position-relative">
                        <input type="hidden" name="customer_id" id="customer_id"/>
                        <input class="form-control py-3" placeholder="Start typing..." type="search"
                               name="customer_name" id="searchInput" autocomplete="off" required/>
                           <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-search position-absolute top-50 end-0 translate-middle-y"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
                    </div>
                    <ul id="suggestions" style="display: none;">
                        <!-- Rendered Django suggestions -->
                        {% for customer in customers %}
                        <li class="suggestion" data-id="{{ customer.id }}"><span>{{ customer.full_name }}</span></li>
                        {% endfor %}
                    </ul>


                    <!-- Add the following dropdown for dynamically updating customer names -->

                </div>
                </div>

            <div class="d-flex flex-direction-row mt-4">
                <label class="pt-3 invoice-number">Itinerary Number :</label>
                <input type="text" name="itinerary_number" id="itinerary_number"  class="form-control py-3 px-5 rounded-3 border border-primary" style="width: 200px;" value="{{ next_itinerary_number }}" readonly>
            </div>


            <div class="d-flex  gap-5">
                <div class="d-flex flex-direction-row mt-4">
                    <label class="pt-3 invoice-date lable-ei">Itinerary Date :</label>
                    <div class="position-relative">
                        <input type="date" class="form-control py-3 text-dark" name="itinerary_date" placeholder="dd-mm-yy" required>
                        <i class=""></i>
                    </div>
                </div>
            
                <div class="d-flex flex-direction-row mt-4 flex-nowrap w-100">
                    <label class="pt-3 lable-ei" style="white-space: nowrap;">Sales Person :</label>
                    <select class="form-select py-3 text-dark" name="sales_person" aria-label="Default select example"
                            required>
                        <option value="" selected disabled>Select Sales Person</option>
                        {% for user in sales_persons %}
                        <option value="{{ user.id }}" {% if user.id == invoice.sales_person.id %} selected {% endif %}>{{ user.username }}
                        </option>
                        {% endfor %}
                    </select>
            </div>
        </div>
        <div class="mt-5"> 
            <h5 class="pb-4 border-bottom border-grey text-uppercase mb-5">Itinerary Contents</h5>
        <div>
    
                <div class="d-flex gap-2 position-relative">
                    <label class="lable-ei align-self-center" for="roomTypeInput">Destination:</label>
                    <input required
                      type="text"
                      name="destination"
                      id="r"
                      class="form-control py-3"
                      placeholder="Type Destination Name Here"
                    />
                  </div>
                <div class="d-flex gap-2 position-relative mt-4" id="input-container" style="width: 90%;">
                    <label class="lable-ei align-self-center" for="roomTypeInput">Visiting Places:</label>
                    <div id="visiting-places-container">
                    <input required
                      type="text"
                      name="visiting_place1"
                      id="roomTypeInput"
                      class="form-control py-3"
                      placeholder="Enter the places"
                    />
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      id="addInputIcon"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      stroke="currentColor"
                      stroke-width="2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      class="icon icon-tabler icons-tabler-outline icon-tabler-plus position-absolute top-50 translate-middle"
                      style="right: -3rem; cursor: pointer"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M12 5l0 14" />
                      <path d="M5 12l14 0" />
                    </svg>
                </div>
                  </div>

                  <div class="d-flex  gap-5 mt-4">
                    <div class="d-flex flex-direction-row  gap-4 mt-4">
                        <label class="pt-3 invoice-date lable-ei">No of Days  :</label>
                        
                            <input type="text" class="form-control py-3 text-dark" name="number_of_days" placeholder="" required>
                        
                    </div>
                
                    <div class="d-flex flex-direction-row mt-4">
                        <label class="pt-3 invoice-date lable-ei">No of Nights  :</label>
                        
                            <input type="text" class="form-control py-3 text-dark" name="number_of_nights" placeholder="" required>
                        
                    </div>
                   </div>

            <div class="d-flex justify-content-between mt-3" style="gap: 2.3rem;">
                <div class="d-flex flex-direction-row mt-4"style="gap: 1.4rem;">
                    <label class="pt-3 lable-ei">Number of Pax :</label>
                    <div class="d-flex flex-direction-row gap-4 ">
                        <input type="number" name="adults" class="form-control py-3 px-3 text-center"placeholder="Adult" required>
                        <p class="pt-3">and</p>
                        <input type="number" name="children" class="form-control py-3 px-3 text-center"placeholder="Children">
                    </div>
                </div>
        
                <div class="d-flex flex-direction-row gap-3 mt-4 flex-nowrap w-100">
                    <label class="pt-3 lable-ei" >Transportation Mode :</label>
                    <select name="transportation_mode" id="transportation_mode" class="form-select" required>
                        <option value="">Select Transportation Mode</option>
                        {% for mode, mode_display in transportation_choices %}
                        <option value="{{ mode }}">{{ mode_display }}</option>
                        {% endfor %}
                    </select>
            </div>
                
            </div>
            <div class="d-flex  gap-5 mt-4">
                <div class="d-flex flex-direction-row mt-4 gap-4">
                    <label class="pt-3 invoice-date lable-ei">Vehicle Type :</label>
                    
                    <select name="vehicle_type" id="vehicle_type" class="form-select" required>
                        <option value="">Select Vehicle Type</option>
                        {% for vehicle, vehicle_display in vehicle_choices %}
                        <option value="{{ vehicle }}">{{ vehicle_display }}</option>
                        {% endfor %}
                    </select>
                    
                </div>
            
                <div class="d-flex flex-direction-row mt-4">
                    <label class="pt-3 invoice-date lable-ei">Guide Type:</label>
                    <select name="guide_type" id="transportation_mode" class="form-select" required>
                        <option value="">Select Transportation Mode</option>
                        {% for guide, guide_display in guide_choices %}
                        <option value="{{ guide }}">{{ guide_display }}</option>
                        {% endfor %}
                    </select>
                </div>
               </div>
               <div class="d-flex  gap-5 mt-4">
                <div class="d-flex flex-direction-row mt-4">
                    <label class="pt-3 invoice-date lable-ei">Pick Up Location  :</label>
                    
                        <input type="text" class="form-control py-3 text-dark" name="pick_up_location" placeholder="" required>
                    
                </div>
            
                <div class="d-flex flex-direction-row mt-4">
                    <label class="pt-3 invoice-date lable-ei">Pickup Date  :</label>
                    
                        <input type="datetime-local" class="form-control py-3 text-dark" name="start_date" placeholder="" required>
                    
                </div>
            </div>
            <div class="d-flex  gap-5 mt-4">
            
                <div class="d-flex flex-direction-row mt-4">
                    <label class="pt-3 invoice-date lable-ei">Drop Location  :</label>
                    
                        <input type="text" class="form-control py-3 text-dark" name="drop_location" placeholder="" required>
                    
                </div>
                <div class="d-flex flex-direction-row mt-4">
                    <label class="pt-3 invoice-date lable-ei">Drop Date  :</label>
                    
                        <input type="datetime-local" class="form-control py-3 text-dark" name="end_date" placeholder="" required>
                    
                </div>
            </div>
               <div class="d-flex  gap-5 mt-4">
                <div class="d-flex flex-direction-row gap-3 mt-4 w-50">
                    <label class="pt-3 invoice-date"> Accommodation  :</label>
                    <input type="text" class="form-control py-3 text-dark" name="accommodation" placeholder="">
                </div>
            
                <div class="d-flex flex-direction-row mt-4">
                    <label class="pt-3 lable-ei">No of Rooms  :</label>
                    
                        <input type="text" class="form-control py-3 text-dark" name="number_of_rooms" placeholder="" required>
                    
                </div>
               </div>

               <div >
                <h5 class="fw-semibold fs-6 mt-4">Meal plans : </h5>
                <div class="d-flex gap-3 align-items-center mt-4">
                    <label for="" class="me-5">Breakfast</label>
                    <input type="text" name="breakfast" class="form-control py-3">
                    <label for="">lunch</label>
                    <input type="text" name="lunch" class="form-control py-3">
                    <label for="">Dinner</label>
                    <input type="text" name="dinner" class="form-control py-3">

                </div>
               </div>
               <div class="d-flex  position-relative mt-4" id="input-container2" style="width: 90%;">
                <label class="align-self-center" for="">Extra Activities:</label>
                <div id="extra-activities-container">
                <input
                  type="text"
                  name="extra_activities1"
                  id="roomTypeInput"
                  class="form-control py-3"
                  placeholder="Enter the activities"
                />
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  id="addInputIcon2"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="icon icon-tabler icons-tabler-outline icon-tabler-plus position-absolute top-50 translate-middle"
                  style="right: -3rem; cursor: pointer"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path d="M12 5l0 14" />
                  <path d="M5 12l14 0" />
                </svg>
            </div>
              </div>

              <div class="d-flex  gap-5 mt-4">
                <div class="d-flex flex-direction-row mt-4">
<!--                    <label class="pt-3 invoice-date">Personal Expenses  :</label>-->

<!--                        <input type="text" class="form-control py-3 text-dark" name="personal_expenses" placeholder="" >-->

                </div>

                <div class="d-flex flex-direction-row mt-4">
<!--                    <label class="pt-3 invoice-date lable-ei">Extra Meals Ordered  :</label>-->

<!--                        <input type="text" class="form-control py-3 text-dark" name="extra_meals_ordered" placeholder="" required>-->

                </div>
               </div>

               <div>
                <h5 class="fw-semibold fs-6 mt-4">Package Mode:</h5>
                <div id="single-expense">
                <div  class="d-flex flex-direction-row gap-5 mt-4 w-50">
                    <label class="pt-3 fw-semibold lable-ei">Total:</label>
                    <input type="text" class="form-control py-3 text-dark" name="total" placeholder="">
                </div>
            </div>
                <div class="form-check mt-4">
                    <input class="form-check-input" type="checkbox" name="is_per_head" value="1" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Per Head
                    </label>
                </div>
                <div id="split-expenses" style="display: none;">
                    <div class="d-flex gap-5 mt-1">
                        <div class="d-flex flex-direction-row mt-4">
                            <label class="pt-3 lable-ei">Expense Per Person:</label>
                            <input type="text" class="form-control py-3 text-dark" name="expense_per_person" placeholder="" id="expense-person" required>
                        </div>
                        <div class="d-flex flex-direction-row mt-4">
                            <label class="pt-3 lable-ei">Person Count:</label>
                            <input type="text" class="form-control py-3 text-dark" name="person_count" placeholder="" id="person-count">
                        </div>
                    </div>
                    <div class="d-flex gap-5 mt-1">
                        <div class="d-flex flex-direction-row mt-4">
                            <label class="pt-3 lable-ei">Expense Per Child:</label>
                            <input type="text" class="form-control py-3 text-dark" name="expense_per_child" placeholder="" id="expense-child" required>
                        </div>
                        <div class="d-flex flex-direction-row mt-4">
                            <label class="pt-3 lable-ei">Child Count:</label>
                            <input type="text" class="form-control py-3 text-dark" name="child_count" placeholder="" id="child-count">
                        </div>
                    </div>
                    <div class="d-flex flex-direction-row gap-5 mt-4 w-50">
                        <label class="pt-3 fw-semibold lable-ei">Total Expense per head:</label>
                        <input type="text" class="form-control py-3 text-dark" name="total_expense" placeholder="" id="total-expense" readonly>
                    </div>
                </div>
            </div>
            

        </div>

        <div class="d-flex justify-content-center mt-5">
            <button type="submit" class="theme-btn px-4 py-2 rounded">CREATE NOW</button>
        </div>





        </div>



    </form>
    </div>


</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="{%static 'js/Itinerary.js'%}"></script>

{% endblock %}