{% extends "employee_base.html" %}
{% load static %}
{%block body_block%}


<div class="leadadd">
    <h1>Dashboard > Leads Management</h1>
    <div class="border-top border-1 ">
        <h2 class="fs-5 py-4">UPDATE SCRIPT DETAILS</h2>

        <div class="d-flex justify-content-center">
            {% for message in messages %}
            <p class="alert alert-primary message custom-message px-3">{{ message }}</p>
            {% endfor %}
        </div>

        <div style="max-width: 70%;">
            <form method="post" action="">
                {% csrf_token %}
                <div class="grid-one-c">
                    <div id="input-container" class="d-flex gap-3 flex-column gap-3">
                        <div class="d-flex gap-4 input-group">
                            <label class="align-self-center">Enter Your Script1:</label>
                            <input type="text" name="script1" value="{{script.script1|default_if_none:'' }}" class="form-control py-3" placeholder="Enter Your Script1">
                            <svg onclick="addInput()" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="icon-tabler-plus align-self-center add-input-icon"
                                style="cursor: pointer">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                <path d="M12 5v14" />
                                <path d="M5 12h14" />
                            </svg>
                        </div>

                         <div class="d-flex gap-4 input-group">
                <label class="align-self-center">Enter Your Script2:</label>
                <input type="text" name="script2" value="{{ script.script2|default_if_none:'' }}" class="form-control py-3" placeholder="Enter Your Script2">
            </div>
            <div class="d-flex gap-4 input-group">
                <label class="align-self-center">Enter Your Script3:</label>
                <input type="text" name="script3" value="{{ script.script3|default_if_none:'' }}" class="form-control py-3" placeholder="Enter Your Script3">
            </div>
            <div class="d-flex gap-4 input-group">
                <label class="align-self-center">Enter Your Script4:</label>
                <input type="text" name="script4" value="{{ script.script4|default_if_none:'' }}" class="form-control py-3" placeholder="Enter Your Script4">
            </div>
            <div class="d-flex gap-4 input-group">
                <label class="align-self-center">Enter Your Script5:</label>
                <input type="text" name="script5" value="{{ script.script5|default_if_none:'' }}" class="form-control py-3" placeholder="Enter Your Script5">
            </div>
            <div class="d-flex gap-4 input-group">
                <label class="align-self-center">Enter Your Script6:</label>
                <input type="text" name="script6" value="{{ script.script6|default_if_none:'' }}" class="form-control py-3" placeholder="Enter Your Script6">
            </div>

                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class=" theme-btn px-5 py-2 rounded">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'js/Script.js' %}"></script>



{% endblock %}