{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<div class="app-content pt-4">
    <div class="">
        <h1 class="fs-2 mb-4">Reset Password</h1>
        <div class="rounded-6 bg-light p-4" style="max-width:700px;margin-inline:auto">
            <form method="post">
                {% csrf_token %}
                <label for="new_password">New Password:</label>
                <input type="password" name="new_password" class="form-control mb-3" required>

                <label for="confirm_password">Confirm Password:</label>
                <input type="password" name="confirm_password" class="form-control mb-3" required>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary mt-4">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
