
<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voucher Email</title>
    <link rel="stylesheet" href="{%static 'css/dashboard.css'%}" />
    <link rel="stylesheet" href="{%static 'css/dashboard2.css'%}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</head>

<style>
    .table-1-invoice-email {
        margin-left: 5rem;
        width: 80%;
    }
    .invoice-email-td {
        padding-left: 5rem;
    }
    .invoice-email-td-2 {
        padding-right: 5rem;
    }
    .price-details {
        padding-left: 5rem;
    }
    .invoice-content-terms {
        padding-left:4rem;
        padding-right: 4rem;
    }
    .top-address {
        padding-left: 2rem;
    }
    .invoice-count {
        padding-right: 3rem;
    }
    .account-manager {
        padding-right: 5rem;
    }
    .grandtotal {
        font-size: 1rem;
    }

    @media only screen and (max-width: 699px) {
        .table-1-invoice-email {
            margin: auto;
            width: 96%;
        }
        .invoice-email-td {
            padding-left: 1rem;
        }
        .invoice-email-td-2 {
            padding-right: 1rem;
        }
        .price-details {
            padding-left: 1rem;
        }
        .price-details p{
            font-size: 0.8rem;
            margin: 0;
        }
        .invoice-content-terms {
            padding-left:1rem;
            padding-right: 1rem;
        }
        .top-address {
            padding-left: 1rem;
        }
        .invoice-count {
            padding-right: 0.5rem;
        }
        .account-manager {
            padding-right: 1rem;
        }
        .grandtotal {
            font-size: 0.8rem;
        }
    }
</style>

<body>
    <div class="d-flex justify-content-center pt-2">
        <button class="theme-btn px-3 py-2 rounded-1" id="downloadButton">Download</button>
    </div>
    <div style="max-width: 900px;margin-inline: auto;margin-top: 2rem;">
        <div class="" id="invoice-details" style="margin: auto; font-family: 'Poppins', sans-serif;">
            <div class="invoice-content"
                style="height: auto; background-color: white; box-shadow: 0px -1px 3px 1px rgb(204, 200, 200);">
                <div class="view-details" style="background-color: #324969; padding: 1rem;">
                    <div class="mt-3 px-1 px-md-5 py-2 " style="color: white;">
                        <div>
                            <table style="width: 100%;">
                                <tr>
                                    <td class="top-address">
                                        <img src="{%static 'assets/invchr.png'%}?{% now "U" %}" style="width: 20%;" />
                                        <p style="margin: 5px 0;">7909 151 146</p>
                                        <p style="margin: 5px 0;">www.navigotrips.com</p>
                                        <p style="margin: 5px 0;">Navig trips LLP
                                            [LLPIN ABB - 4601]
                                            Vatakara 
                                            Kozhikode 
                                            Kerala</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="invoice-count"
                                        style="font-size: 1.5rem; font-weight: 600; text-align: right;white-space: nowrap;">
                                       <span id="num-value">{{ voucher.voucher_number }}</span></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="" style="width: 100%;">
                    <div style="width: 100%;">
                        <table style="width: 100%;">
                            <table style="width: 100%;">
                                <tr>
                                    <td class="invoice-email-td" style="font-size: 0.8rem;width: 70%;padding-top: 2rem;"
                                        colspan="3">
                                        <p style="font-size: 1rem;margin: 0;">Bill To:</p>
                                        <h5 style="font-size: 1.5rem; margin: 0;">{{ voucher.customer.full_name }}</h5>
                                        <p style="margin:5px;">{{ voucher.customer_name.phone }}</p>
                                        <p style="margin:5px;">{{ voucher.customer_name.email }}</p>
                                        <p style="margin:5px;">{{ voucher.customer_name.address }}</p>
                                    </td>
                                    <td class="invoice-email-td-2"
                                        style="white-space: nowrap;text-align: right;margin: 0;width: 0%;padding-top: 2rem;">
                                        <p style="margin:5px;"> {{ voucher.voucher_number }}</p>
                                        <p style="margin:5px;"> Voucher Date: {{ voucher.voucher_date }}</p>
                                        <p
                                            style="background-color: rgb(240, 146, 5);padding: 10px 5px;text-align: center;">
                                            Total Amount <strong> ₹ {{ voucher.total_amount }}</strong></p>
                                    </td>
                                </tr>
                            </table>
                    </div>
                    <div>
                        <table class="table-1-invoice-email"
                            style="border-collapse: collapse;  border: 1px solid black;text-align: center;text-transform: uppercase;margin-top: 15px;">
                            <tbody>
                                <tr>
                                    <td
                                        style="padding: 0.5rem 2rem;border-bottom: 1px solid black;border-right: 1px solid black;">
                                        hotel name</td>
                                    <td style="padding: 0.5rem 2rem;border-bottom: 1px solid black;">{{ voucher.resort_name.resort_name }}</td>
                                </tr>
                                <tr>
                                    <td
                                        style="padding: 0.5rem 2rem;border-bottom: 1px solid black;border-right: 1px solid black;">
                                        check in</td>
                                    <td style="padding: 0.5rem 2rem;border-bottom: 1px solid black;">{{ voucher.checkin_date }}</td>
                                </tr>
                                <tr>
                                    <td
                                        style="padding: 0.5rem 2rem;border-bottom: 1px solid black;border-right: 1px solid black;">
                                        check out</td>
                                    <td style="padding: 0.5rem 2rem;border-bottom: 1px solid black;">{{ voucher.checkout_date }}</td>
                                </tr>
                                <tr>
                                    <td
                                        style="padding: 0.5rem 2rem;border-bottom: 1px solid black;border-right: 1px solid black;">
                                        no.of pax</td>
                                    <td style="padding: 0.5rem 2rem;border-bottom: 1px solid black;">{{ voucher.adults }} adults and {{ voucher.children }}
                                        children
                                    </td>
                                </tr>
                                <tr>
                                    <td
                                        style="padding: 0.5rem 2rem;border-bottom: 1px solid black;border-right: 1px solid black;">
                                        room type</td>
                                    <td style="padding: 0.5rem 2rem;border-bottom: 1px solid black;">{{ voucher.room_type }}</td>
                                </tr>
                                <tr>
                                    <td
                                        style="padding: 0.5rem 2rem;border-bottom: 1px solid black;border-right: 1px solid black;">
                                        no of rooms</td>
                                    <td style="padding: 0.5rem 2rem;border-bottom: 1px solid black;">{{ voucher.number_of_rooms }}</td>
                                </tr>
                                <tr>
                                    <td
                                        style="padding: 0.5rem 2rem;border-bottom: 1px solid black;border-right: 1px solid black;">
                                        no of nights</td>
                                    <td style="padding: 0.5rem 2rem;border-bottom: 1px solid black;">{{ voucher.number_of_nights }}</td>
                                </tr>
                                <tr>
                                    <td
                                        style="padding: 0.5rem 2rem;border-bottom: 1px solid black;border-right: 1px solid black;">
                                        meal plan</td>
                                    <td style="padding: 0.5rem 2rem;border-bottom: 1px solid black;">{{ voucher.meal_plan.meals }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <table style="width: 100%;">
                            <tbody>
                                <tr>
                                    <td>
                                        <p></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="invoice-email-td-2" style="text-align: right;">
                                        <div>
                                            <p style="opacity: 0;">Sub Total :<span style="padding-left: 0.5rem;"> ₹ {{ voucher.total_amount }}</span></p>
                                            
                                            <p class="grandtotal"><strong>Grand Total : <span style="padding-left: 0.5rem;"> ₹{{ voucher.total_amount }}</span></strong></p>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="account-manager" style="text-align: right;padding-top: 5rem;">
                                        <div>
                                            <p>{{ voucher.sales_person.username }}</p>
                                            <p class="fw-semibold">Accountant Manager</p>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="price-details" style="margin-top: -15rem;">
                            <p><strong>Payment Methods</strong></p>
                            <p>Bank Name : {{ voucher.account_name.account_name }}</p>
                            <p>Bank Account :  {{ voucher.account_name.account_number }}</p>
                            <p>IFSC Code :  {{ voucher.account_name.ifsc_code }}</p>
                            <p style="margin-top: 10px;padding-bottom: 8rem;" class="fw-bold">Thank you for your
                                business!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="invoice-content-terms" 
                style="height: auto; background-color: white; box-shadow: 0px -1px 3px 1px rgb(204, 200, 200);">
                <div class="mt-4">
                    <div>
                        <h4 class="text-uppercase" style="font-size:1.8rem;padding-top:3rem;text-transform:uppercase">Things to note</h4>
                        <ul class="mt-5">
                            <li style="font-size:1rem;padding-bottom: 1rem;">Please remember to bring your ID when you check in.</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;"> Please make sure to pay the remaining amount when you check in</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">Please remember, only the guests listed in your booking confirmation are allowed to stay, and no additional visitors are permitted during your stay.</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">No negotiations are entertained once you checked in</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">Please let the property manager know if you will be checking in late.</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">If you want to check in early or check out late, please check with us first to see if it's possible.</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">Smoking and alcohol consumption are permitted only in designated areas; however, all illegal activities, including gambling and narcotics, are strictly prohibited.</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">Guests will be charged for any property damage they cause.</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">Please treat our staff and trip advisors with kindness and respect. They're here to ensure your stay is comfortable.</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">Please take care of yourself while engaging in adventure activities. The company is not responsible for any incidents during your stay. For any emergencies, contact the property manager.</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">Please take care of your belongings, as we are not liable for any loss or damage. Ensure you have all personal items before checking out.</li>
                            <li style="font-size:1rem;padding-bottom: 1rem;">BBQ and campfire events are subject to weather conditions and availability. If they cannot proceed due to weather, costs will be refunded.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.min.js"></script>
    <script>
        const numValue = document.getElementById('num-value').textContent
document.getElementById("downloadButton").addEventListener("click", function () {
       const element = document.getElementById("invoice-details");
       const opt = {
           // margin: 0.5,
           filename: `${numValue}.pdf`,
           image: { type: 'jpeg', quality: 1 },
           html2canvas: { scale: 1 },
           jsPDF: { unit: 'in', format: 'letter', orientation: 'portrait' },
       };
       html2pdf().from(element).set(opt).save();
   });
    </script>
</body>
</html>



























